*.idea
**/build/
*.egg-info/
*.pyc
*.script
*.venv
dist
output.zip
*.sketch
.DS_Store
setup.py
.vscode

# LIT/FileCheck integration tests' artifacts.
tests/integration/**/Output/**
tests/integration/**/output/**
tests/integration/**/sandbox/**
.lit_test_times.txt

# Coverage
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache

# Mypy
.mypy_cache
